*{
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.logo-sena{
    width: 6rem;
    height: 6rem;
}
.img{
    text-align: center;
    padding: 2rem;
}
.container{
    /* background-color: aqua; */
    border-radius: 20px;  
    width: 40rem;
    height: 45rem;
}
img{
    width: 250px;
    height: 80px;
}
b{
    font-weight: 700;
}
h1{
    padding: 1rem;
    padding-bottom: 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}
h2{         
    padding-left: 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}
h3{
    padding-left: 1rem;
    text-align: left;
    font-size: 1rem;
}
p{
    padding-left: 1rem;
}
.firma{
    padding-left: 1rem;
}